---
import Layout from '../layouts/Layout.astro';

const title = "Contact - Iowa All Pro HVAC";
const description = '';
---

<Layout {title} {description}>
  <div class="ct-inner-content">
    <div set:html={`<div class="ct-inner-content" id="inner_content-3-79"><section class="ct-code-block" id="code_block-6-35"><script src="https://form.jotform.com/jsform/251345895033156" type="text/javascript"></script></section><section class="ct-section" id="section-3-35"><div class="ct-section-inner-wrap"><h2 class="ct-headline onepage-heading-two" data-aos="fade-down" id="headline-4-35">Call Us Today</h2><a class="ct-link-text dayton-primary-button" href="tel:(515)%20550-4822" id="link_text-5-35" target="_self">Call (515) 550-4822</a></div></section></div>`} />
  </div>
</Layout>
