---
import Layout from '../layouts/Layout.astro';

const title = "Cooling - Iowa All Pro HVAC";
const description = '';
---

<Layout {title} {description}>
  <div class="prose max-w-none">
    <h1>Cooling - Iowa All Pro HVAC</h1>
    <div set:html={`<main class="ct-section fade-up" id="section-3-56"><div class="ct-section-inner-wrap"><h1 class="ct-headline pageheading" id="headline-4-56"><span class="ct-span" id="span-5-56">Cooling</span></h1><div class="ct-div-block"><p>Taking care of your AC system and fixing it when needed saves money on energy bills and keeps you cool. We are committed to excellence, so we use high-quality parts and materials to repair your AC unit. This ensures long-lasting results.</p><h3>Our Cooling Services Include:</h3><ul><li>AC Repair & Maintenance</li><li>Air Conditioning Installation</li><li>Ductwork Services</li><li>Indoor Air Quality Solutions</li><li>Emergency Cooling Services</li></ul></div></div></main>`} />
  </div>
</Layout>