---
import Layout from '../layouts/Layout.astro';

const title = "Home-april
description:";
const description = '';
---

<Layout {title} {description}>
  <div class="prose max-w-none">
    <h1>Home-april
description:</h1>
    <div set:html={`<div class='ct-section'><div class='ct-section-inner-wrap'><h2 class='ct-headline'>Home-april
description:</h2><p>Content coming soon...</p></div></div>`} />
  </div>
</Layout>