---
import Layout from '../layouts/Layout.astro';

const title = "Untitled
description:";
const description = '';
---

<Layout {title} {description}>
  <div class="prose max-w-none">
    <h1>Untitled
description:</h1>
    <div set:html={`<div class='ct-section'><div class='ct-section-inner-wrap'><h2 class='ct-headline'>Untitled
description:</h2><p>Content coming soon...</p></div></div>`} />
  </div>
</Layout>